.Container {
  max-width: 400px;
  min-height: 550px;
  background-color: gray;
  margin:0 auto;
  margin-top: 10px;
  box-shadow: 0 0 10px gray;
  padding: 15px 50px;
}
.Text-center {
  text-align: center;
  padding: 15px 50px;
}
.Expence-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow:0 0 10px gray;
}
.Transction-form input {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
}
.Transction-history >li {
  display: flex;
  justify-content: space-between;
  padding: 5px 2px;
  margin: 5px;
  box-shadow:0 0 10px gray;
  background-color: white;
}
.Transction-history {
  margin: 0;
  padding: 0;
 
}